doctype html 
html(lang='ko')
    head
        title 회원상세
        include ../cmmn.pug
        
        template#portrait
            div(class='tool-bar flex-left', style='gap:5px;')
                label(for='fileX') 사진:
                input(type='file', id='fileX', name='fileX')

        template#contact_no
            div(class='tool-bar flex-left', style='gap:5px;')
                label(class='flex-label100') 연락처
                select(name='slt_contact_kind')
                    - for (let i=0; i<contact_kind.length; i++)
                        option(value=contact_kind[i].cd)= contact_kind[i].cd_nm
                input(type='text', name='contack_no')

        template#addrX
            div(class='tool-bar flex-left', style='gap:5px;')
                label(class='flex-label100') 주소
                span
                    label(for='postal_cd') 우편번호:
                    input(type='text', id='postal_cd', name='postal_cd', style='width:70px;')
                span
                    label(for='addr') 주소:
                    input(type='text', id='addr', name='addr', style='width:180px;')
                span
                    label(for='detail') 상세주소:
                    input(type='text', id='detail', name='detail', style='width:300px;')
                a(href='javascript:getPost(num);')
                    span(class='material-symbols-rounded') search

        script(src='//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js')
        script.
            let getPost = (num) => {
                new daum.Postcode({
                    oncomplete: function(data){
                        $('#postal_cd'+num).val(data.zonecode)
                        $('#addr'+num).val(data.jibunAddress)
                    }
                }).open()
            }
            var contact_num = 0
            var addr_num = 0
            var portrait_num = 0
            let template = undefined
            let container = undefined
            let buttonClick = (e) => {
                let text = $(e).data('text');
                console.log(text);
                switch (text) {
                    case '연락처추가':
                        template = $.trim($('#contact_no').html())
                        
                        container = $($('form[name="new_contact"] > div#new')[0])
                        container.append(
                            template
                                .replace('연락처', '연락처(' + (contact_num + 1) + ')') 
                                .replace('slt_contact_kind', 'slt_contact_kind'+contact_num)
                                .replace('contack_no', 'contack_no'+contact_num)
                        )
                        container.css('display', 'block')
                        contact_num++
                        break;
                    case '주소추가':
                        template = $.trim($('#addrX').html())
                        container = $($('form[name="new_addr"] > div#new')[0])
                        container.append(
                            template
                                .replace('주소', '주소(' + (addr_num + 1) + ')') 
                                .replace(/postal_cd/gi, 'postal_cd'+addr_num)
                                .replace(/addr/gi, 'addr'+addr_num)
                                .replace(/detail/gi, 'detail'+addr_num)
                                .replace('num', addr_num)
                        )
                        container.css('display', 'block')
                        addr_num++
                        break;
                    case '사진추가':
                        template = $.trim($('#portrait').html())
                        container = $($('form[name="new_portrait"] > div#new')[0])
                        container.append(
                            template
                                .replace('사진', '사진(' + (portrait_num + 1) + ')') 
                                .replace(/fileX/gi, 'fileX'+portrait_num)
                        )
                        container.css('display', 'block')
                        portrait_num++
                        break;
                    case '닫기':
                        window.opener.openResult()
                        window.close()
                        break;
                    default:
                        break;
                }
            }

    body
        .main
            h2(class='m-title center-text') 회원상세
            hr
            div(class='tool-bar flex-side mt10')
                span.s-title 회원정보
                span(style='display:flex;')
                    button(data-text='사진추가', onclick='buttonClick(this)') 사진 추가
                    button(data-text='연락처추가', onclick='buttonClick(this)', style='margin-left:10px;') 연락처 추가
                    button(data-text='주소추가', onclick='buttonClick(this)') 주소 추가
                    
            form
                #mode.input-box
                    div(class='tool-bar flex-left')
                        label.flex-label100 일련번호:
                        input(type='text', id='seq_no', name='seq_no', readonly, value=mem.seq_no)
                    div(class='tool-bar flex-left')
                        label.flex-label100 아이디:
                        input(type='text', id='id', name='id', readonly, value=mem.id)
                    div(class='tool-bar flex-left')
                        label.flex-label100 이름:
                        input(type='text', id='name', name='name', value=mem.name)
                    div(class='tool-bar flex-left')
                        label.flex-label100 직분:
                        select(name='slt_jikbun')
                            - for (let i=0; i<jikbun.length; i++)
                                option(value=jikbun[i].cd, selected= jikbun[i].cd == mem.jikbun_cd)= jikbun[i].cd_nm
                    div(class='tool-bar flex-left')
                        label.flex-label100 이메일:
                        input(type='text', id='email', name='email', value=mem.email)
                    div(class='tool-bar flex-left')
                        label.flex-label100 등록일:
                        input.datepicker(id='reg_dt', name='reg_dt', type='text', style='width:120px;', value= mem.reg_dt || '')
                    div(class='tool-bar flex-left')
                        label.flex-label100 성별:
                        select(name='slt_mw')
                            - for (let i=0; i<mwgubun.length; i++)
                                option(value=mwgubun[i].cd, selected= mwgubun[i].cd == mem.mw_cd)= mwgubun[i].cd_nm
                    div(class='tool-bar flex-left')
                        label.flex-label100 재적구분:
                        select(name='slt_del_yn')
                            option(value='Y', selected= 'Y' == mem.del_yn) Y
                            option(value='N', selected= 'N' == mem.del_yn) N

            if (picture && picture.length > 0)
                form(name='del_file', action='/sys_member/file_del/byseqno', method='post', enctype='application/x-www-form-urlencoded')
                    input(type='hidden', name='seq_no', value=mem.seq_no)
                    #new.input-box(data-tag= mem, style='position:relative; display:flex;')
                        - for (let i=0; i<picture.length; i++)
                            div.img-wrap
                                img.img-thumb(src= picture[i].file_path + picture[i].file_nm)
                                div(class='img-thumb-toolbar text-right')
                                    label(for='file_del_yn'+i) 삭제
                                    input(type='checkbox', id='file_del_yn'+i, name='file_del_yn'+i, value= picture[i].seq_no)
                        div.abs-top-right
                            button(data-text='사진삭제', onclick='buttonClick(this)') 삭제

            form(name='new_portrait', action='/sys_member/member_portrait_add', method='post', enctype='multipart/form-data')
                input(type='hidden', name='src_tbl_nm', value='member')
                input(type='hidden', name='rf_key', value=mem.seq_no)
                input(type='hidden', name='file_path', value='portrait')
                #new.input-box(data-tag= mem, style='display:none; position:relative')
                    div.abs-top-right
                        button(data-text='사진저장', onclick='buttonClick(this)') 저장

            if (contact && contact.length > 0)    
                form(name='mod_contact', action='/sys_member/member_contact_mod', method='post', enctype='application/x-www-form-urlencoded')
                    input(type='hidden', name='seq_no', value=mem.seq_no)
                    #mode.input-box(data-tag= mem)
                        - for (let i=0; i<contact.length; i++)
                            div(class='tool-bar flex-left', style='gap:5px;')
                                label.flex-label100= '연락처(' + (i+1) + ') :'
                                select(name='slt_contact_kind'+i)
                                    - for (let j=0; j<contact_kind.length; j++)
                                        option(value=contact_kind[j].cd, selected= contact_kind[j].cd == contact[i].kind_cd)= contact_kind[j].cd_nm
                                input(type='text', name='contack_no'+i, value=contact[i].contact_no)
                                label(for='contact_del_yn'+i) 삭제
                                input(type='checkbox', id='contact_del_yn'+i, name='contact_del_yn'+i)
                                input(type='hidden' name='contact_seq_no'+i, value=contact[i].seq_no)
                        div.abs-top-right
                            button(data-text='연락처수정', onclick='buttonClick(this)') 수정

            form(name='new_contact', action='/sys_member/member_contact_add', method='post', enctype='application/x-www-form-urlencoded')
                input(type='hidden', name='seq_no', value=mem.seq_no)
                #new.input-box(data-tag= mem, style='display:none; position:relative')
                    div.abs-top-right
                        button(data-text='신규연락처저장', onclick='buttonClick(this)') 저장

            if (addr && addr.length > 0)
                form(name='mod_addr', action='/sys_member/member_addr_mod', method='post', enctype='application/x-www-form-urlencoded')
                    input(type='hidden', name='seq_no', value=mem.seq_no)
                    #mode.input-box(data-tag= mem)
                        - for (let i=0; i<addr.length; i++)
                            div(class='tool-bar flex-left', style='gap:5px;')
                                label(class='flex-label100')= '주소(' + (i+1) + ') :'
                                span
                                    label(for='postal_cd'+i) 우편번호:
                                    input(type='text', id='postal_cd'+i, name='postal_cd'+i, style='width:70px;', value= addr[i].postal_cd)
                                span
                                    label(for='addr'+i) 주소:
                                    input(type='text', id='addr'+i, name='addr'+i, style='width:180px;', value= addr[i].addr)
                                span
                                    label(for='detail'+i) 상세주소:
                                    input(type='text', id='detail'+i, name='detail'+i, style='width:300px;', value= addr[i].addr_detail)
                                span
                                    label(for='addr_del_yn'+i) 삭제
                                    input(type='checkbox', id='addr_del_yn'+i, name='addr_del_yn'+i)
                                input(type='hidden' name='addr_seq_no'+i, value=addr[i].seq_no)
                        div.abs-top-right
                            button(data-text='주소수정', onclick='buttonClick(this)') 수정


            form(name='new_addr', action='/sys_member/member_addr_add', method='post', enctype='application/x-www-form-urlencoded')
                input(type='hidden', name='seq_no', value=mem.seq_no)
                #new.input-box(data-tag= mem, style='display:none; position:relative')
                    div.abs-top-right
                        button(data-text='신규주소저장', onclick='buttonClick(this)') 저장
            
            div.tool-bar.flex-right
                button(data-text='닫기', onclick='buttonClick(this)') 닫기
                


